.modal {
	position: fixed;
	z-index: 99999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	background: #fefefe;
	width: 400px;
	height: 40vh;
	position: relative;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content h1 {
	color: green;
	text-align: center;
}
